<mat-card class="patient-card">
  <mat-card-title>{{patient.name}} ({{patient.age}})</mat-card-title>
  <mat-card-subtitle>{{patient.id}}</mat-card-subtitle>
  <mat-card-content>
    <div class="reply-time">
      <div class="time" [ngClass]="{'good-reply-time':patient.averageReplyTime/60 <= 30,
      'bad-reply-time':patient.averageReplyTime/60 > 30}">
        {{patient.averageReplyTime * 1000 | date:'H:mm:ss':'UTC'}}
      </div>
      Average reply time
    </div>
    <app-chart [data]="offersData"></app-chart>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="call(patient.name)">CALL</button>
  </mat-card-actions>
</mat-card>
