<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{patient.name}}</mat-card-title>
    <mat-card-subtitle>{{patient.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Patient Age: {{patient.age}}
      <br>
      Patient accepted offers: {{patient.acceptedOffers}}
      <br>
      Patient canceled offers: {{patient.canceledOffers}}
      <br>
      Patient average repolay time: {{patient.averageReplyTime}}
      <br>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="call(patient.name)">CALL</button>
  </mat-card-actions>
</mat-card>
