<div class="search">
  <options-filter [label]="'Filter By'"
                  [(selected)]="selectedFilter"
                  (selectedChange)="updateInput($event)"
                  [keys]="filteringPatientKeys"
                  [Types]="FilteringFieldType"
  >
  </options-filter>
  <input class="search-bar" matInput type="text" name="age-filter"
         [(ngModel)]="filterString"
         *ngIf="selectedFieldType === getFilteringFieldType.text"
         placeholder="Enter filter text">
  <duration-input *ngIf="selectedFieldType === getFilteringFieldType.duration" [(time)]="time"
  ></duration-input>
  <multi-value-input *ngIf="selectedFieldType === getFilteringFieldType.multi"
  [itemList]="ages" [label]="'Choose ages'" [(selected)]="filterStringMulti"></multi-value-input>
  <button mat-stroked-button color="primary"
          class="button"
          title="Filter"
          *ngIf="selectedFieldType"
          (click)="filter(selectedFilter)" aria-label="Example icon button with a filter list icon">
    Filter
  </button>
  <button mat-stroked-button color="secondary"
          class="button"
          *ngIf="selectedFieldType"
          (click)="clearFilter()"aria-label="Example icon button with a delete icon">
    Clear filter
  </button>

</div>
